.visible {
  visibility: visible;
}

.top-info {
  background-color: #2626a8;
  text-align: center;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-info p {
  color: white;
  padding: 3px;
  font-size: 15px;
}

.top-info .second-p {
  font-weight: bolder;
}

.top-nav {
  height: 40px;
}

.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
}

.top-nav ul li {
  list-style: none;
}

.top-nav ul li a {
  color: #7c7c7c;
  text-decoration: none;
  font-size: 13px;
}

.top-nav ul li a:hover {
  color: #429dff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top-right {
  position: relative;
}

.top-right .top-center-info {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
}

.top-right .top-center-info i {
  color: #7c7c7c;
}

.top-right .top-center-info span {
  color: #7c7c7c;
  font-family: sans-serif;
  font-weight: lighter;
  border-right: 1px solid #7c7c7c;
  padding-right: 10px;
  font-size: 13px;
}

.top-right .top-help {
  position: absolute;
  left: 40%;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #7c7c7c;
  font-family: sans-serif;
}

.top-right .top-help span {
  font-family: sans-serif;
  color: #7c7c7c;
  font-size: 13px;
}

.top-right .top-help a {
  text-decoration: none;
  color: #429dff;
  font-size: 15px;
}

.top-right .top-help a:hover {
  text-decoration: underline;
}

.top-right .drop {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 65%;
  top: 13%;
}

.top-right .drop .drop-btn {
  font-family: inherit;
  color: #7c7c7c;
  background-color: transparent;
  border: none;
  font-family: sans-serif;
}

.top-right .drop .drop-btn:hover {
  color: #429dff;
}

.top-right .drop .drop-content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #7c7c7c;
  text-align: center;
  -webkit-box-shadow: 0px 8px 16px 0px;
          box-shadow: 0px 8px 16px 0px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  font-family: sans-serif;
}

.top-right .drop .drop-content-left a {
  text-decoration: none;
  color: #7c7c7c;
}

.top-right .drop .drop-content-left a:hover {
  color: #429dff;
}

.top-right .drop .drop-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #7c7c7c;
  margin-left: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 8px 16px 0px;
          box-shadow: 0px 8px 16px 0px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.top-right .drop .drop-content-right a {
  text-decoration: none;
  color: #7c7c7c;
  font-family: sans-serif;
}

.top-right .drop .drop-content-right a:hover {
  color: #429dff;
}

.logo {
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

.logo span {
  font-size: 13px;
  color: #7c7c7c;
  font-family: sans-serif;
}

.select-location {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7c7c7c;
  border-radius: 10px;
  cursor: pointer;
}

.select-location span {
  font-size: 13px;
  color: #7c7c7c;
  font-family: sans-serif;
}

.select-location p {
  font-size: 13px;
  color: navy;
  font-weight: bold;
}

.search {
  position: relative;
  margin-left: 10px;
  height: 76px;
}

.search input {
  position: absolute;
  z-index: 0;
  height: 100%;
  border-radius: 10px;
  background-color: #dbdbdb;
}

.search i {
  position: absolute;
  z-index: 1;
  right: 7%;
  top: 40%;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3px;
}

.account i {
  border: 1px solid #7c7c7c;
  border-radius: 50%;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

.total-price span {
  font-size: 20px;
  cursor: pointer;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3px;
  position: relative;
}

.cart i {
  background-color: #ffcaca;
  border-radius: 50%;
  font-size: 30px;
  padding: 10px;
  color: red;
  cursor: pointer;
}

.cart sup {
  position: absolute;
  top: 30%;
  right: 12%;
}

.cart sup span {
  font-size: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.categories {
  position: relative;
}

.categories .btn {
  background-color: #429dff;
  width: 100%;
  border-radius: 18px;
  height: 50px;
}

.categories .btn:hover {
  background-color: #429dff;
}

.categories .btn i {
  padding-right: 20px;
}

.categories .btn span {
  position: absolute;
  bottom: 0;
  left: 30%;
  border: 1px solid #7c7c7c;
  background-color: #e0dcdc;
  color: #7c7c7c;
  font-size: 9px;
  border-radius: 10px;
}

.categories .dropdown-menu {
  height: 250px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.categories .dropdown-menu li {
  text-align: center;
  width: 300px;
  padding-bottom: 5px;
}

.categories .dropdown-menu li a {
  text-decoration: none;
  color: #7c7c7c;
  font-size: 15px;
}

.categories .dropdown-menu li a:hover {
  color: #429dff;
}

.nav-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-buttons ul li {
  list-style: none;
}

.nav-buttons ul li button {
  background-color: transparent;
  color: #3b3a3a;
  border-radius: 20px;
}

.nav-buttons ul li button:hover {
  color: #429dff;
  background-color: #cde2f8;
}

.home-shop {
  position: relative;
}

.home-shop .home-nav {
  padding-left: 27%;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.home-shop .home-nav ul {
  border: 1px solid #7c7c7c;
  width: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

.home-shop .home-nav ul li {
  list-style: none;
  line-height: 200%;
}

.home-shop .home-nav ul li a {
  text-decoration: none;
  color: #7c7c7c;
}

.home-shop .home-nav ul li a:hover {
  color: #429dff;
}

.home-shop .shop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #7c7c7c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.home-shop .shop-nav ul li {
  list-style: none;
  cursor: pointer;
  color: #7c7c7c;
}

.home-shop .shop-nav ul li:hover {
  color: #429dff;
}

.advert-top {
  width: 100%;
  z-index: 0;
  position: relative;
  cursor: pointer;
}

.advert-top .first img {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
}

.advert-top .first .first-advert-text {
  position: absolute;
  padding-top: 5%;
  left: 10%;
}

.advert-top .first .first-advert-text .first-top-right {
  background-image: -webkit-gradient(linear, left top, right top, from(#a9ffa9), to(white));
  background-image: linear-gradient(to right, #a9ffa9, white);
  border-radius: 20px;
  color: green;
}

.advert-top .first .first-advert-text .first-top-header {
  font-weight: bold;
}

.advert-top .first .first-advert-text .first-bottom-header {
  font-weight: bold;
}

.advert-top .first .first-advert-text .second-bottom-right {
  font-size: 40px;
  color: red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.advert-top .first .first-advert-text .first-advert-btn {
  color: #429dff;
  border-radius: 20px;
  color: white;
}

.advert-top .second {
  z-index: 0;
}

.advert-top .second img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */